html {
    background: #222;
}
a {
    color: #bbb;
}
body {
    margin: 0;
}
button {
    border: none;
    padding: 5px 10px;
    background: #C3A36D;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px #bbb;
}
button:hover {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #bbb;
    margin: 0 auto;
    width: calc(700px + 2em + 2em + 10px);
    padding: 10px 2em;
    overflow: hidden;
}
    .header span {
        height: 100%;
        max-width: 80%;
    }
.container {
    background: white;
    margin: 0 auto;
    width: 700px;
    padding: .5em 2em;
}
.diploma {
    background-image: url("/static/img/$background");
    color: #4B4B49;
    font-size: 1.2em;
    text-align: center;
    position: relative;
    border: 2px double #C3A36D;
    padding: 0 2em;
}
.diploma:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #C3A36D;
}
.title {
    color: #C3A36D;
    font-family: "Fancy";
    line-height: 1;
    margin-top: 1em;
}
.title span {
    font-family: "Arial";
    font-size: 0.5em;
    display: inline-block;
}
.name {
    color: #C3A36D;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
}
.degree, .major {
    color: black;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
}
.byline {
    margin-top: 0.35em;
    margin-bottom: 0.5em;
}
.major {
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: 1em;
}
.signatures {
    margin: 4em 0 3em;;
    display: flex;
}
.block {
    flex-grow: 1;
    flex-basis: 50%;
    margin-top: auto;
}
.block_middle {
    flex-basis: 0;
    position: relative;
}
.seal2 {
    position: absolute;
    top: -20px;
    left: -30px;
}
.signature_name {
    color: #000F55;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid black;
    display: inline-block;
    padding: 0 1em;
}
.signature_name_1 { font-family: "Handwriting1", fantasy; }
.signature_name_2 { font-family: "Handwriting2", fantasy; }
.signature_title {
    font-size: 0.7em;
    font-style: italic;
    margin-top: -1em;
}
.footer {
    font-size: 0.8em;
}
